# Client Files.
Logs/*.log
Codigo/*.log
Conversor/
Render/
Render/Fotos/
Render/Minimapa/
Render/Partials/
Resources/
*.vbw
*.oca
*.csi
*.lvw
*.OBJ
WinterMapEditor.exe

# System Files.
.DS_Store
Thumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
*.stackdump
